@model Bulky.Models.Category

<div class=" m-5">
    <form method="post" asp-action="create">
        <div class="border p-3 mt-4">
            <h3 class="text-wrap">create page</h3 >
            <div class="mb=3">
                <label asp-for="name"></label>
                <input asp-for="name" class="form-control shadow" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="mb=3">
                <label asp-for="Displayorder"></label>
                <input asp-for="Displayorder" class="form-control shadow" />
                <span asp-validation-for="Displayorder" class="text-danger"></span>
            </div>
            <div class="mb=3 mt-3">
                <button type="submit" class="btn btn-primary" style="width:150px">create</button>
                <a asp-controller="Categorey" asp-action="index" class="btn btn-primary m-3" style="width:150px">back to list</a>
            </div>
        </div>


    </form>
</div>
