@page
@model Bulky_Razor.Pages.Categories.CreateModel

<form method="post" >
    <div class="border p-3 mt-4">
        <div asp-validation-summary="All"></div>
        <h3 class="text-wrap">create page</h3>
        <div class="mb=3">
            <lable asp-for="name">name</lable>
            <input asp-for="Category.name" class="form-control" />
            <span asp-validation-for="Category.name" class="text-danger"></span>
        </div>
        <div class="mb=3">
            <lable>Displayorder </lable>
            <input asp-for="Category.Displayorder" class="form-control" />
            <span asp-validation-for="Category.Displayorder" class="text-danger"></span>
        </div>
        <div class="mb=3 mt-3">
            <button type="submit" class="btn btn-primary" style="width:100px">create</button>
            <a asp-page="/Categories/index"  class="btn btn-primary">back to list</a>
        </div>
    </div>


</form>


